<body class='app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show pace-done' [ngClass]="{'brand-minimized sidebar-minimized' : isSideBarMinimized}">
    <app-header (sideBarStatus)="displaySideBar($event)"></app-header>
    <div class="app-body">
        <app-side-navbar *ngIf="isSideBarVisible" (sideBarMinimzed)="minimizeSideBar($event)"></app-side-navbar>
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Point In Time</a>
                </li>
                <li class="breadcrumb-menu d-md-down-none">
                  <div class="btn-group" role="group" aria-label="Button group">
                    <form class="form-inline">
	                    <div class="form-group">
	                        <div class="input-group">
	                        <input class="form-control" placeholder="yyyy-mm-dd"
	                                name="d2" #c2="ngModel" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
		                        <div class="input-group-append">
		                            <button class="btn btn-primary" (click)="d2.toggle()" type="button">
		                              <i class="cui-calendar"></i>
		                            </button>
		                        </div>
	                        </div>
	                    </div>
                    </form>
                    <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
                  </div>
                </li>
              </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <app-content-view></app-content-view>
                </div>
            </div>
        </main>
    </div>
</body>