
  .mat-slider-horizontal {
    width: 80%;
    margin: 10px;
  }

  #rangeSlider {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    padding-bottom: 20px;
  }

  #graphContainer {
    justify-content: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  #graphArea {
    height: 70%;
    width: 90%;
    position: absolute;
    border: black 2px solid;
  }

  #playIcon {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  
  ::ng-deep .mat-slider-horizontal .mat-slider-ticks-container {
    height: 7px !important;
  }
  ::ng-deep .mat-slider-horizontal .mat-slider-ticks {
    height: 7px !important;
  }

  ::ng-deep .mat-slider-ticks-container {
    top: -2px  !important;
  }

  ::ng-deep .mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
    border-radius: 95% 40% 95% 40% !important;
  }

  ::ng-deep .mat-slider-thumb-label {
    width: 75px !important;
    height: 75px !important;
  }

  ::ng-deep .mat-slider-horizontal .mat-slider-thumb-label {
    right: -28px !important;
    top: -70px !important;
  }

  ::ng-deep #rangeSlider .mat-primary .mat-slider-thumb, 
  ::ng-deep .mat-primary .mat-slider-thumb-label, 
  ::ng-deep .mat-primary .mat-slider-track-fill {
    background-color: black !important;
  }

  #tickLabelText {
    border: grey 1px solid;
    border-radius: 10px;
    width: 11rem;
    margin: 10px 0px;
    text-align: center;
    background-color: black;;
  }

  #tickLabelText span {
    padding: 5px;
    font-size: 12px;
    color: white;
  }