<ng-template #rt let-r="result" let-t="term">
  <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1" style="width: 16px">-->
  <ngb-highlight [result]="r.label" [term]="t"></ngb-highlight>
</ng-template>

<form style="margin-top: 1em">
  <div class="form-group">
    <label for="typeahead-template">Search the graph:</label>
    <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
           [inputFormatter]="formatter" name="search"
           (selectItem)="onSelect($event)"
           (focus)="focus$.next($event.target.value)"
           (click)="click$.next($event.target.value)"
           #instance="ngbTypeahead"/>
  </div>
</form>
