
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="nav-icon icon-speedometer"></i> Home
              <span class="badge badge-primary">7 New</span>
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon cui-sitemap"></i>Model</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon cui-3d"></i> Inventory
                  <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon cui-bell"></i> Alarms
                  <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon icon-star"></i> Alarms Per Vertex
                    <div id="select-situation">
                        <select id="select1" name="select1" class="form-control">
                            <option value="0">Please select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                    </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon icon-star"></i> Situations
                    <div id="select-situation">
                        <select id="select1" name="select1" class="form-control">
                            <option value="0">Please select</option>
                            <option value="1">Situation #1</option>
                            <option value="2">Situation #2</option>
                            <option value="3">Situation #3</option>
                          </select>
                    </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item mt-auto">
            <a class="nav-link nav-link-danger" target="_top" (click)="resetGraph()">
              <i class="nav-icon fa fa-undo"></i> Reset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-success" target="_top">
              <i class="nav-icon icon-layers"></i>Spin
            </a>
          </li>
        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button" (click)= "minimizeSideBar()"></button>
    </div>