/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
}

.min-100 {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}
